<div>
    <label>Icon</label>
    <input type="file" name="icon" class="filepond">
</div>
<div>
    <label>Name</label>
    <input type="text" name="name" value="<%= director.name %>">
</div>
<div>
    <label>Rating</label>
    <input type="number" name="rating" min="0" max="10" value="<%= director.rating %>">
</div>
<div>
    <label>Description</label>
    <textarea name="description"><%= director.description %></textarea>
</div>
<div>
    <label>Notes</label>
    <textarea name="notes"><%= director.notes %></textarea>
</div>