@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/buttons.css';

:root {
    font-family: 'Young Serif', serif;
    font-size: 20px;
    color: var(--color-text-light);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light))
}

.container {
    margin: auto;
    margin-bottom: 3rem;
    max-width: 1200px;
}

.inner-container {
    margin: 0 2rem;
}

.page-header {
    font-size: 2rem;
    font-weight: 500;
}