:root {
    --color-button-primary-text: black;
    --color-button-primary-text-dark: black;
    --color-button-primary-background: hsl(50, 60%, 60%);
    --color-button-primary-background-dark: hsl(50, 60%, 45%);

    --color-button-border: black;

    --color-button-danger-text: black;
    --color-button-danger-text-dark: black;
    --color-button-danger-background: hsl(0, 60%, 40%);
    --color-button-danger-background-dark: hsl(0, 60%, 25%);
}

.button {
    border: 1px solid var(--color-button-border);
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-family: 'Young Serif', serif;
    cursor: pointers;
    text-decoration: none;
    text-align: center;
}

.button-primary {
    color: var(--color-button-primary-text);
    background-color: var(--color-button-primary-background);
}

.button-primary:hover {
    color: var(--color-button-primary-text-dark);
    background-color: var(--color-button-primary-background-dark);
}

.button-danger {
    color: var(--color-button-danger-text);
    background-color: var(--color-button-danger-background);
}

.button-danger:hover {
    color: var(--color-button-danger-text-dark);
    background-color: var(--color-button-danger-background-dark);
}

.button-row {
    display: flex;
    align-items: flex-start;
}

.button-row > * {
    margin-left: 1rem;
}

.button-row > *:first-child {
    margin-left: 0;
}